.adidas-colours {
    background-color: #79716f;
    color: #fff;
}

.trnsmt-colours {
    background-color: #a8509f;
    color: #fff;
}

.image-fit-100 {
    width: 100%;
    height: auto;
}

.centered {
    text-align: center;
}

.s20 {
    font-size: 20px;
}

#flex-container {
    display: flex;
    gap: 200px;
}