.nk-navbar .nk-nav-table>.nk-nav-row-center>* {
  /* display: table-cell; */
  vertical-align: sub;
}

.contact-pic img {
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.f1-3 {
  font-size: 1.3rem;
}

@media only screen and (max-width: 560px) {
  .about-me {
    font-size: 1.6rem;
  }

  .sub-mobile {
    font-size: 2rem;
  }
}